<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67A3199F18DBF0B300BE99D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A319C518DBF0B300BE99D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A319E218DBF1CF00BE99D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A319FC18DC03ED00BE99D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67A31A1218DC041A00BE99D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
